<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
            'bundles/illdatacitedoi/css/bootstrap.css'
            'bundles/illdatacitedoi/css/bootstrap-responsive.min.css'
            'bundles/illdatacitedoi/css/styles.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>
    <body>
        <div class="header">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12 title">
                        <h1>{% block header %} {% endblock %} <img src="http://cdn1.iconfinder.com/data/icons/iconset-addictive-flavour/png/splash_beta_lightblue.png" style="float: right"></h1>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="{{ path("ill_datacitedoi_doi_index")}}">DOIs</a></li>
                        <li><a href="#">Register new DOI</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="#">Administration</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-bottom: 20px; min-height: 800px">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {% javascripts
        'bundles/illdatacitedoi/js/jquery-1.9.0.min.js'
        'bundles/illdatacitedoi/js/bootstrap.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>
