{% extends 'ILLDataCiteDOIBundle::base.html.twig' %}
{% block title %}DOI Administration{% endblock %}
{% block header %}DOI Administration{% endblock %}
{% block body %}
<style type="text/css">

</style>
    <div class="row-fluid">
		<div class="span12">
		    <h1>Register new metadata</h1>
		    <hr>
		    <ul class="breadcrumb">
			    <li><a href="#">DOIs</a> <span class="divider">/</span></li>
			    <li class="active"><a href="#">Regiser new metadata</a> <span class="divider">/</span></li>
		    </ul>
        </div>
    </div>
    <form action='/someServerSideHandler'>
        <div class="alert alert-info">
            <p>You have <span data-bind='text: titles().length'>&nbsp;</span> title(s)</p>
        </div>
        <table class="table table-striped" data-bind='visible: titles().length > 0'>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th />
                </tr>
            </thead>
            <tbody data-bind='foreach: titles'>
                <tr>
                    <td class="span6"><input class='required span6' type="text" data-bind='value: title' /></td>
                    <td><select data-bind="options: type"></select></td>
                    <td><a href='#' class="btn btn-danger" data-bind='click: $parent.removeTitle'>Remove title</a></td>
                </tr>
            </tbody>
        </table>
        <button class="btn" data-bind='click: addTitle'>Add title</button>
        <button data-bind='enable: titles().length > 0' type='submit'>Submit</button>
    </form>

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% javascripts

        'bundles/illdatacitedoi/js/knockout-2.2.1.js'
        'bundles/illdatacitedoi/js/metadata/create.js'
%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}