<div class="control-group" data-bind="validationElement: identifier">
    <label class="control-label" for="identifier">Identifier</label>
    <div class="controls">
        <input type="text"  class="input-xsmall" id="identifier" style="text-transform: uppercase" data-toggle="popover" data-placement="top" data-content="This field is required. The identifier must only contain alphanumeric, hyphens or periods" title="Identifier" data-bind="value: identifier, valueUpdate: 'afterkeydown'" />
        <p class="help-inline" data-bind="if: identifier.isModified() && !identifier.isValid(), text: identifier.error, attr: { title: identifier.error }"></p>
    </div>
</div>
 <div class="control-group" data-bind="validationElement: publicationYear">
    <label class="control-label" for="publicationYear">Publication year</label>
    <div class="controls">
        <select data-bind="options: publicationYears, chosen: {}, optionsValue: 'id',  optionsText: 'value', value: publicationYear"></select>
        <p class="help-inline" data-bind="if: publicationYear.isModified() && !publicationYear.isValid(), text: publicationYear.error, attr: { title: publicationYear.error }"></p>
    </div>
</div>
 <div class="control-group">
    <label class="control-label" for="publisher">Publisher</label>
    <div class="controls">
        <input type="text"  class="input-xxlarge" id="publisher"  data-bind="value: publisher" />
    </div>
</div>
 <div class="control-group">
    <label class="control-label" for="language">Language</label>
    <div class="controls">
        <select data-bind="options: languages, chosen: {}, optionsValue: 'id',  optionsText: 'value', value: language"></select>
    </div>
</div>
 <div class="control-group">
    <label class="control-label" for="rights">Rights</label>
    <div class="controls">
        <input type="text"  class="input-xxlarge" id="rights"  data-bind="value: rights" />
    </div>
</div>
 <div class="control-group">
    <label class="control-label" for="resourceType">Resource type</label>
    <div class="controls">
        <input type="text"  class="input-xsmall" id="resourceType"  data-bind="value: resourceType().type, valueUpdate: 'afterkeydown'" />
        <span class="label label-important" data-bind="if: resourceType().type.isModified() && !resourceType().type.isValid(), text: resourceType().type.error, attr: { title: resourceType().type.error }"></span>
        <br>
        <select style="vertical-align: -20px" data-bind="options: resourceTypes, optionsValue: 'id',  optionsText: 'value', optionsCaption: '-', value: resourceType().resourceType"></select>
    </div>
</div>
<fieldset class="details">
    <legend>Contributors</legend>
    <div class="alert alert-info">
        <p>You have <span data-bind='text: contributors().length'>&nbsp;</span> contributor(s)</p>
    </div>
    <table class="table table-striped" data-bind='visible: contributors().length > 0'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Name identifier</th>
                <th>Name identifier scheme</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: contributors'>
            <tr class="titles">
                <td style="width: 20%">
                    <input class='required' type="text" style="width: 95%; vertical-align: -20px" data-bind="value: name, validationElement: name, valueUpdate: 'afterkeydown'">
                    <span class="label label-important" data-bind="if: name.isModified() && !name.isValid(), text: name.error, attr: { title: name.error }"></span>
                </td>
                <td style="width: 15%">
                    <select style="vertical-align: -20px" data-bind="options: $parent.contributorTypes, optionsValue: 'id',  optionsText: 'value', value: type"></select>
                </td>
                <td style="width: 15%">
                    <input class='required' type="text" style="width: 95%; vertical-align: -20px" data-bind='value: nameIdentifier.identifier'>
                </td>
                <td style="width: 15%">
                    <input class='required' type="text" style="width: 95%; vertical-align: -20px" data-bind='value: nameIdentifier.scheme'>
                </td>
                <td>
                    <a style="vertical-align: -20px" href='#' class="btn btn-danger" data-bind='click: removeContributor'><i class="icon-white icon-trash"></i> Remove contributor</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn" data-bind='click: addContributor'><i class="icon-plus"></i> Add contributor</button>
</fieldset>
<fieldset class="details">
    <legend>Creators</legend>
    <div class="alert alert-info">
        <p>You have <span data-bind='text: creators().length'>&nbsp;</span> creator(s)</p>
    </div>
    <table class="table table-striped" data-bind='visible: creators().length > 0'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Name identifier</th>
                <th>Name identifier scheme</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: creators'>
            <tr class="titles">
                <td style="width: 30%">
                    <input class='required' type="text" style="width: 95%; vertical-align: -20px"
                           data-bind="value: name,
                                      validationElement: name,
                                      valueUpdate: 'afterkeydown'">
                    <span class="label label-important"
                          data-bind="if: name.isModified() && !name.isValid(),
                                     text: name.error,
                                     attr: { title: name.error }"></span>
                </td>
                <td style="width: 25%">
                    <input class='required' type="text" style="width: 95%; vertical-align: -20px"
                           data-bind="validationElement: nameIdentifier.identifier,
                                      value: nameIdentifier.identifier,
                                      valueUpdate: 'afterkeydown'">
                    <span class="label label-important"
                          data-bind="if: nameIdentifier.identifier.isModified()
                                         && !nameIdentifier.identifier.isValid(),
                                     text: nameIdentifier.identifier.error">
                    </span>
                </td>
                <td style="width: 25%">
                    <input class='required' type="text" style="width: 95%; vertical-align: -20px"
                           data-bind='value: nameIdentifier.scheme'>
                </td>
                <td>
                    <a style="vertical-align: -20px" href='#' class="btn btn-danger"
                       data-bind='click: removeCreator'>
                        <i class="icon-white icon-trash"></i> Remove creator
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn" data-bind='click: addCreator'><i class="icon-plus"></i> Add creator</button>
</fieldset>
<fieldset class="details">
    <legend>Subjects</legend>
    <div class="alert alert-info">
        <p>You have <span data-bind='text: subjects().length'>&nbsp;</span> subject(s)</p>
    </div>
    <table class="table table-striped" data-bind='visible: subjects().length > 0'>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Scheme</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: subjects'>
            <tr class="titles">
                <td style="width: 50%">
                    <textarea class='required' style="width: 95%; height: 50px" data-bind="value: subject, valueUpdate: 'afterkeydown'"></textarea>
                    <span class="label label-important" data-bind="if: subject.isModified() && !subject.isValid(), text: subject.error, attr: { title: subject.error }"></span>
                </td>
                <td style="width: 30%"><input class='required' type="text" style="width: 95%; vertical-align: -20px" data-bind='value: scheme'></td>
                <td><a style="vertical-align: -20px" href='#' class="btn btn-danger" data-bind='click: removeSubject'><i class="icon-white icon-trash"></i> Remove subject</a></td>
            </tr>
        </tbody>
    </table>
    <button class="btn" data-bind='click: addSubject'><i class="icon-plus"></i> Add subject</button>
</fieldset>
<fieldset class="details">
    <legend>Titles</legend>
    <div class="alert alert-info">
        <p>You have <span data-bind='text: titles().length'>&nbsp;</span> title(s)</p>
    </div>
    <table class="table table-striped" data-bind='visible: titles().length > 0'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: titles'>
            <tr class="titles">
                <td style="width: 50%">
                    <textarea class='required' style="width: 95%; height: 50px" data-bind="value: title, valueUpdate: 'afterkeydown'"></textarea>
                    <span class="label label-important" data-bind="if: title.isModified() && !title.isValid(), text: title.error, attr: { title: title.error }"></span>
                </td>
                <td style="width: 20%"><select style="vertical-align: -20px" data-bind="options: $parent.titleTypes, optionsValue: 'id',  optionsText: 'value', optionsCaption: '-', value: type"></select></td>
                <td><a style="vertical-align: -20px" href='#' class="btn btn-danger" data-bind='click: removeTitle'><i class="icon-white icon-trash"></i> Remove title</a></td>
            </tr>
        </tbody>
    </table>
    <button class="btn" data-bind='click: addTitle'><i class="icon-plus"></i> Add title</button>
</fieldset>
 <div class="control-group well">
    <button data-bind='enable: titles().length > 0, click: save' class="btn btn-large btn-block btn-primary" type='submit'>Update the metadata</button>
</div>
